<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Rubén Méndez Pérez">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<meta name="viewport" content="width=device=width">
</head>

<body>
	<div align="center">
		<img th:src="@{images/sailor01.jpg}" width="600 px">
	</div>
	<div align="center">
		<h2>Sailor Moon</h2>
		<form th:action="@{/primera}" method="POST">
			<fieldset>
				<legend>¿Qué Sailor Scouts eres?</legend>
				<p>1ª PREGUNTA</p>
				<p>Introduzca su nombre:</p>
				<p>
					<textarea name="msg" cols="40" rows="2"></textarea>
				</p>
				<input type="submit" name="enviar">
				<input type="reset" name="reset" value="Borrar formulario">
			</fieldset>
		</form>
	</div>
</body>
<footer align="center">Rubén Méndez Pérez · DWES · 21/22</footer>
</html>