<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Rubén Méndez Pérez">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<meta name="viewport" content="width=device=width">
</head>

<body>
<div align="center">
		<img th:src="@{images/sailor08.jpg}" width="600 px">
	</div>
	<div align="center">
		<h2>Sailor Moon</h2>

		<fieldset>
			<legend>¿Qué Sailor Scouts eres?</legend>

			<p>RESULTADO DEL QUIZZ</p>
			<p>Tú Sailor Scout es:</p>
			<p>
				Mostrar resultado
			</p>

		</fieldset>

	</div>
</body>
<footer align="center">Rubén Méndez Pérez · DWES · 21/22</footer>
</html>