<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Rubén Méndez Pérez">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<meta name="viewport" content="width=device=width">
</head>

<body>
	<div align="center">
		<img th:src="@{images/calamar01.jpg}">
	</div>
	<div align="center">
		<h1>JUEGO DEL QUIZZ</h1>
		<form th:action="@{/resultado}" method="POST">
			<fieldset>
				<legend>
					Juego del Calamar
				</legend>
				<p>RESULTADO DEL QUIZZ</p>
				<p>Elige una figura</p>
				<p>
					Mostrar resultado
				</p>

				<p>¿Los datos son correctos?</p>
				<input type="submit" name="enviar">
				<input type="reset" name="reset" value="Borrar formulario">
			</fieldset>
		</form>
	</div>
</body>
<footer>Rubén Méndez Pérez · DWES · 21/22</footer>

</html>