<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Rubén Méndez Pérez">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<meta name="viewport" content="width=device=width">
</head>

<body>
	<div align="center">
		<img th:src="@{images/calamar02.jpg}">
	</div>
	<div align="center">
		<h1>Sailor Scouts</h1>
		<form th:action="@{/segunda}" method="POST">
			<fieldset>
				<legend>¿Qué Sailor Scouts eres?</legend>
				<p>2ª PREGUNTA</p>
				<p>Elige una color</p>
				<p>
					<input type="radio" name="color" value="azul">Azul<br />
					<input type="radio" name="color" value="rojo">Rojo<br />
					<input type="radio" name="color" value="verde">Verde<br />
					<input type="radio" name="color" value="amarillo">Amarillo<br />
				</p>

				<p>¿Los datos son correctos?</p>
				<input type="submit" name="enviar">
				<input type="reset" name="reset" value="Borrar formulario">
			</fieldset>
		</form>
	</div>
</body>
<footer>Rubén Méndez Pérez · DWES · 21/22</footer>

</html>