<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Rubén Méndez Pérez">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<meta name="viewport" content="width=device=width">
</head>

<body>
	<div align="center">
		<img th:src="@{images/sailor03.jpg}" width="600 px">
	</div>
	<div align="center">
		<h2>Sailor Moon</h2>
		<form th:action="@{/tercera}" method="POST">
			<fieldset>
				<legend>¿Qué Sailor Scouts eres?</legend>
				<p>3ª PREGUNTA</p>
				<p>Elige tus aficiones</p>
				<p>
					<input type="checkbox" name="aficion1" value="uno"> Lectura
					<input type="checkbox" name="aficion2" value="dos"> Videojuegos
					<input type="checkbox" name="aficion3" value="tres"> Cocina<br>
					<input type="checkbox" name="aficion4" value="cuatro"> Coches
					<input type="checkbox" name="aficion5" value="cinco"> Shopping
					<input type="checkbox" name="aficion6" value="seis"> Música<br>

				</p>
				<p>¿Los datos son correctos?</p>
				<input type="submit" name="enviar">
				<input type="reset" name="reset" value="Borrar formulario">
			</fieldset>
		</form>
	</div>
</body>
<footer align="center">Rubén Méndez Pérez · DWES · 21/22</footer>

</html>