<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Rubén Méndez Pérez">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<meta name="viewport" content="width=device=width">
</head>

<body>
	<div align="center">
		<img th:src="@{images/calamar03.jpg}">
	</div>
	<div align="center">
		<h1>JUEGO DEL QUIZZ</h1>
		<form th:action="@{/tercera}" method="POST">
			<fieldset>
				<legend>
					Juego del Calamar
				</legend>
				<p>3ª PREGUNTA</p>
				<p>Elige una figura</p>
				<p>
					<label>
						<input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer
						checkbox</label><br>

					<input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Este es mi segundo
						checkbox
					</label>

					<input type="radio" name="figura" value="circulo">Círculo
					<input type="radio" name="figura" value="triangulo">Triángulo
					<input type="radio" name="figura" value="estrella">Estrella
					<input type="radio" name="figura" value="paraguas">Paraguas<br />
				</p>

				<p>¿Los datos son correctos?</p>
				<input type="submit" name="enviar">
				<input type="reset" name="reset" value="Borrar formulario">
			</fieldset>
		</form>
	</div>
</body>
<footer>Rubén Méndez Pérez · DWES · 21/22</footer>

</html>